/* line 4, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
::selection {
  background: #bdc0e8;
}

/* line 5, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
::-moz-selection {
  background: #bdc0e8;
}

/* line 6, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
::-webkit-selection {
  background: #bdc0e8;
}

/* line 8, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
br {
  display: block;
  line-height: 1.6em;
}

/* line 10, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 11, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
ol, ul {
  list-style: none;
}

/* line 13, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
input, textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

/* line 23, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
blockquote, q {
  quotes: none;
}

/* line 24, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 25, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
strong, b {
  font-weight: bold;
}

/* line 26, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
em, i {
  font-style: italic;
}

/* line 28, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 29, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
img {
  border: 0;
  max-width: 100%;
}

/* line 31, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
h1 {
  font-family: 'Fredoka One', Helvetica, Tahoma, sans-serif;
  color: #fff;
  text-shadow: 1px 2px 0 #7184d8;
  font-size: 3.5em;
  line-height: 1.1em;
  padding: 6px 0;
  font-weight: normal;
  text-align: center;
}

/* page structure */
/* line 44, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
#w {
  display: block;
  width: 600px;
  margin: 0 auto;
}

/* line 50, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
#title {
  display: block;
  width: 100%;
  background: #95a6d6;
  padding: 10px 0;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

/* line 63, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
#page {
  display: block;
  background: #fff;
  padding: 15px 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

/** cart table **/
/* line 72, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
#cart {
  display: block;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
  font-size: 1.2em;
  color: #444;
}

/* line 80, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
#cart thead th {
  padding: 8px 0;
  font-weight: bold;
}

/* line 85, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
#cart thead th.first {
  width: 175px;
}

/* line 88, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
#cart thead th.second {
  width: 45px;
}

/* line 91, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
#cart thead th.third {
  width: 230px;
}

/* line 94, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
#cart thead th.fourth {
  width: 130px;
}

/* line 97, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
#cart thead th.fifth {
  width: 20px;
}

/* line 101, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
#cart tbody td {
  text-align: center;
  margin-top: 4px;
}

/* line 106, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
tr.productitm {
  height: 65px;
  line-height: 65px;
  border-bottom: 1px solid #d7dbe0;
}

/* line 112, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
#cart tbody td img.thumb {
  vertical-align: bottom;
  border: 1px solid #ddd;
  margin-bottom: 4px;
}

/* line 118, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
.qtyinput {
  width: 33px;
  height: 22px;
  border: 1px solid #a3b8d3;
  background: #dae4eb;
  color: #616161;
  text-align: center;
}

/* line 127, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
tr.totalprice, tr.extracosts {
  height: 35px;
  line-height: 35px;
}

/* line 131, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
tr.extracosts {
  background: #e4edf4;
}

/* line 135, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
.remove {
  /* http://findicons.com/icon/261449/trash_can?id=397422 */
  cursor: pointer;
  position: relative;
  right: 12px;
  top: 5px;
}

/* line 144, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
.light {
  color: #888b8d;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.45);
  font-size: 1.1em;
  font-weight: normal;
}

/* line 150, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
.thick {
  color: #272727;
  font-size: 1.7em;
  font-weight: bold;
}

/** submit btn **/
/* line 158, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
tr.checkoutrow {
  border-top: 1px solid #abc0db;
  border-bottom: 1px solid #abc0db;
}

/* line 162, /Users/jiazhenxie/Documents/workspace/ruby/ecommerce/app/assets/stylesheets/carts.css.scss */
td.checkout {
  padding: 12px 0;
  padding-top: 20px;
  width: 100%;
  text-align: right;
}
