/ start footer
.footer_top
  .wrap
    .footer
      / start grids_of_3
      .span_of_3
        .span1_of_3
          %h3 text edit
          %p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
        .span1_of_3
          %h3 twitter widget
          %p
            %a{:href => "#"} @Contrarypopular
            I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give
            %a{:href => "#"} @accountofsystem
          %p.top 19 days ago
          %p.top
            %a{:href => "#"} @Contrarypopular
            I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give
            %a{:href => "#"} @accountofsystem
          %p.top 19 days ago
        .span1_of_3
          %h3 flickr widget
          %ul.f_nav
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => asset_path("f_pic1.jpg")}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => asset_path("f_pic2.jpg")}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => asset_path("f_pic3.jpg")}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => asset_path("f_pic4.jpg")}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => asset_path("f_pic5.jpg")}/
            %li
              %a{:href => "#"}
                %img{:alt => "", :src => asset_path("f_pic6.jpg")}/
        .clear
/ start footer
.footer_mid
  .wrap
    .footer
      .f_search
        %form
          %input{:placeholder => "Enter email for newsletter", :type => "text", :value => ""}/
          %input{:type => "submit", :value => ""}/
      .soc_icons
        %ul
          %li
            %a.icon1{:href => "#"}
          %li
            %a.icon2{:href => "#"}
          %li
            %a.icon3{:href => "#"}
          %li
            %a.icon4{:href => "#"}
          %li
            %a.icon5{:href => "#"}
      .clear
/ start footer
.footer_bg
  .wrap
    .footer
      / scroll_top_btn
      :javascript
        $(document).ready(function() {
          var defaults = {
            containerID: 'toTop',
            containerHoverID: 'toTopHover',
            scrollSpeed: 1200,
            easingType: 'linear'
          };
          $().UItoTop({ easingType: 'easeOutQuart' });
        });
      %a#toTop{:href => "#", :style => "display: block;"}
        %span#toTopHover{:style => "opacity: 1;"}
      / end scroll_top_btn
      .f_nav1
        %ul
          %li
            %a{:href => root_path} home /
          %li
            %a{:href => "#"} support /
          %li
            %a{:href => "#"} Terms and conditions /
          %li
            %a{:href => "#"} Faqs /
          %li
            %a{:href => contact_path} Contact us
      .copy
        %p.link
          %span
            © All rights reserved | Template by 
            %a{:href => "http://w3layouts.com/"} W3Layouts
      .clear
