- provide(:bg_title, "our products")

.main_bg
  .wrap
    .main
      .top_main
        %h2 new arrivals on fooseshoes
        %a{:href => "#"} show all
        .clear
      / start grids_of_3
      .grids_of_3
        .grid1_of_3
          %a{:href => "details.html"}
            %img{:alt => "", :src => asset_path("pic1.jpg")}/
            %h3 even & odd
            %span.price $145,99
        .grid1_of_3
          %a{:href => "details.html"}
            %img{:alt => "", :src => asset_path("pic2.jpg")}/
            %h3 buffalo decollete
            %span.price $185,99
            %span.price1.bg on sale
        .grid1_of_3
          %a{:href => "details.html"}
            %img{:alt => "", :src => asset_path("pic3.jpg")}/
            %h3 even & odd
            %span.price $145,99
        .clear
      .top_main
        %h2 best sellers of the month
        %a{:href => "#"} show all
        .clear
      / start grids_of_3
      .grids_of_3
        .grid1_of_3
          %a{:href => "details.html"}
            %img{:alt => "", :src => asset_path("pic4.jpg")}/
            %h3 buffalo decollete
            %span.price $145,99
        .grid1_of_3
          %a{:href => "details.html"}
            %img{:alt => "", :src => asset_path("pic5.jpg")}/
            %h3 even & odd
            %span.price $185,99
        .grid1_of_3
          %a{:href => "details.html"}
            %img{:alt => "", :src => asset_path("pic6.jpg")}/
            %h3 buffalo decollete
            %span.price $145,99
            %span.price1.bg1 out of stock
        .clear
      .clear
      / start grids_of_2
      .grids_of_2
        .grid1_of_2
          .span1_of_2
            %h2 free shipping
            %p Lorem Ipsum is simply dummy  typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          .span1_of_2
            %h2 testimonials
            %p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using [...]
        .grid1_of_2.bg
          %h2 blog news
          .grid_date
            .date1
              %h4 apr 01
            .date_text
              %h4
                %a{:href => "#"} Donec vehicula est ac augue consectetur,
              %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form
            .clear
          .grid_date
            .date1
              %h4 feb 01
            .date_text
              %h4
                %a{:href => "#"} The standard chunk of Lorem Ipsum used since ,,
              %p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from
            .clear
        .clear
