- content_for :head do
  = stylesheet_link_tag     "productviewgallery"
  = javascript_include_tag  "cloud-zoom.1.0.3.min"
  = javascript_include_tag  "jquery.fancybox.pack"
  / = javascript_include_tag  "productviewgallery"
